/*Admin Starts*/
.jumbotron h1
{
  font-family: Aclonica;
  text-align: center;
  color: #80c5de;
}
.jumbotron h2
{
  font-family: Aclonica;
  text-align: center;
  color: #C3AC2C;
}
.col-sm-3
{
  background-color: gray;

}
.col-sm-3 img
{
  height: 30px;
  width: auto;
}
#displaySideBar
{
  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.col-sm-8
{
  margin-left: 60px;
}
.card-footer h3
{
  text-align: center;
}

.row #sidebar
{
  background-image: url("../images/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15px;
}
#divHome:hover
{
  background-color: blue;
}

#divHome:hover a
{
  color: white;
}
#divSupplier:hover
{
  background-color: blue;
}
#divSupplier:hover a
{
  color: white;
}
#divManage:hover
{
  background-color: blue;
}
#divManage:hover a
{
  color: white;
}
#divManageCustomer:hover a
{
  color: white;
}
#divManageCustomer:hover
{
  background-color: blue;
}
.col-sm-6
{
  text-align: center;
  border-left: solid black;
  color: white;
}

#myWater
{
  background-image: url("../images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#addSupplier
{
  margin-left: 200px;
  width: 40%;
}
#addForm input
{
  margin-left: 70px;
}
#border
{
  background-color: black;
}
#border h4
{

  margin-left: 300px;
  color: white;
}
#border button
{
  margin-left: -160px;
}
#tableHome table, th, td
{
  color: white;
}
#tableManage
{
  background-color: blue;
}
/*admin ends*/
body
{

    background-repeat: no-repeat;
    background-size: cover;
}
#r
{
    background-image: url("../images/water-png-22.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.controls-top{
    text-align: center;
}

#contactdetails{
    padding-left: 20%;
}
form input
{
    margin-left: 150px;
    width: 28.8%;
    background-color: transparent;
}
form textarea
{
    margin-left: 150px;
   width: 72.5%;
   background-color: transparent;
}
form button
{
    margin-left: 450px;
    width: 20%;
}
.jumbotron h3
{
    text-align: center;
}

#care{
    margin-left: 50%;
    margin-top: -20%;
}

#how{
    color:blue
}
.col-md-4 h2
{
    text-align: left;
}

h3{
    color: blue;
}
body{background-image: url("../images/home/adanwaters.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
